<ion-content class="customScroll">
  <div style="text-align:center; height: 25%; ">
    <img src="../assets/images/head.jpg" style="border-radius: 0 0 50px 50px;">
  </div>
  <ion-grid class="aligncenter">
    <ion-row justify-content-center class="flexDiv">
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        <div text-center style="margin-top: 60px;">
          <h4>Login</h4>
        </div>
        <div padding class="loginDiv">
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input autofocus='true' [(ngModel)]="usename"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input type="password" [(ngModel)]="password"></ion-input>
          </ion-item>
        </div>
        
        <div padding>
          <a href="/forgot-password" style="float: right;text-decoration: underline;">Forgot Your Password?</a>
        </div>
        <div padding>
          <ion-button expand="block" size="medium" style="--background: #2e3943" (click)="login()">Login</ion-button>
        </div>
        <div padding style="float: left;">
          <a href="/register" style="float: right;text-decoration: underline;">New User? Register Here.</a>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>