ion-toolbar{
  --ion-background-color: white;
}

ion-content{
  --ion-background-color: rgb(250, 239, 239);
}

ion-item{
  --ion-background-color: rgba(0,0,0,0.1);
  border-radius: 20px;
  margin-bottom: 10px;
}