<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button ion-button (click)="closeModal()">X</ion-button>
    </ion-buttons>
    <ion-title>Add New Address</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #form="ngForm" (ngSubmit)="submitForm(form)">

    <ion-item>
      <ion-label position="floating">First Name</ion-label>
      <ion-input required autofocus='true' name="first_name" [(ngModel)]="first_name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Last Name</ion-label>
      <ion-input required autofocus='true' name="last_name" [(ngModel)]="last_name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Address</ion-label>
      <ion-input required autofocus='true' name="address" [(ngModel)]="address"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">City</ion-label>
      <ion-input required autofocus='true' name="city" [(ngModel)]="city"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Zip/Postal Code</ion-label>
      <ion-input required autofocus='true' name="postal_code" [(ngModel)]="postal_code"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Phone Number</ion-label>
      <ion-input required autofocus='true' name="phone_number" [(ngModel)]="phone_number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Country</ion-label>
      <ion-select required (ionChange)="catched($event)" name="country_id" [(ngModel)]="country_id" >
        <ion-select-option  *ngFor="let item of countries;" value="{{item.id}}"> {{item.full_name_english}}
        </ion-select-option>
      </ion-select>
    </ion-item>
 
    <ion-item *ngIf = "regions">
      <ion-label position="floating">State/Province</ion-label>
      <ion-select required name="region_id" [(ngModel)]= "region_id">
        <ion-select-option *ngFor="let region of regions;" value="{{region.id}}"> {{region.name}} </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item *ngIf = "!regions">
      <ion-label position="floating">State/Province</ion-label>
      <ion-input autofocus='true' name="region" [(ngModel)]="region"></ion-input>
    </ion-item>
    
    <!-- <button type="submit" block ion-button>Submit</button> -->
    <ion-grid style="margin-bottom: 0px;" color="secondary" class="footer-next-btn">
      <ion-button type="submit" expand="full" color="secondary" size="medium" >Submit Order</ion-button>
    </ion-grid>
  </form>

</ion-content>